<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>autoservice custom settings</comment>
    <entry key="AddAndDeleteFreePlaces">true</entry>
    <entry key="ShiftTimeOfCompletion">true</entry>
    <entry key="DeleteOrder">true</entry>
</properties>